@-moz-document url("about:addons"), url("chrome://mozapps/content/extensions/extensions.xul") {
    #category-userchromejs > .category-icon {
        list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACk0lEQVQ4ja3RW0hTARwG8A+nEIIxI9DwyQtCarKj7vhkWEwj8AKahNR6siAispce6k2y9VJvIblpkBOt4xGU5ko0RKZuecMLedlxTk0ym7Y5TcvL10OmKwuC+uB7/fG/AP8jarWaERERNBgMDxsbG4uMRuMdQRB4WH2MGdog0gvuuL+XbnDLDW66wQNAeXl5mSzLeUajsVQQhHW1+gjFtPgNn6d2Yl6pdM4rlc53U8/G/a4T/q2/A9RMS0tfXfR86ZpwLjgmnAuOMYU27/TZpe0/AQ0NDbkmk+nGPpC25vF47Iqi9CmK0jfh9PV4p7OWDwCRkZEsKysz1NfXF1VUVNzaA7TatSXvcs+Uy9WruFy9k9P+bt9M9vLO3C9AXFwcBUGgKIrMyMhgYmIij4aFMT05+fPk0NDAQGfn8LDNNjzUNdb/seekd90eAKiCwxkVFc2EhOPUaDTUiiLjYmKYAvAMwHyAJQDvAqwE2IwgOqDaB87nH2JRgbhaUFj8tbi4ePWiXv8pLyfHJwDMBli4C5QDNAG0AOxHwATcACcHr483NXeNWSyWPovV2tnUKPekAMwCeCk01HNPp7M8ysxsq9Hp2pp1urYOne71PjAPvum44jLXWTslSbJLsuyoNdf0pQA8BbBUo3FY7fZkyWrNrNutuaUl+zfAyy5Jeu4IBE4DvJaUNNTQ3p77RJb1JlnWV8qy/rEslfwEdLffdFY9dXSY617ZzPWtturqpr0VLoSE+G+npg4+EIRRo1Y7Kmm1o62i+HYP2JoBl8fD19+PxPs+jMSuLI7Grrjt0f6U3SOeA3gZoAFgFcAWgAOBR9x0g9szIGfBnVmQc+DqGPgDKAJ4FeB9gFXBwXyhUrFXFfDGf8k3RzmjBlDWo+YAAAAASUVORK5CYII=);
    }
}
@-moz-document domain("acfun.tv"){
.area{margin: 0px auto !important;}
}
@-moz-document domain("www.amazon.cn"){
body{margin-top: 10px !important;}
}
@-moz-document domain("www.hotsk.com"){
div[align="left"]{margin: 0px auto !important;width: 960px !important;}
}
@-moz-document domain("auto.ifeng.com"){
a {border-bottom: none !important;}
}
@-moz-document domain("bbs.operachina.com"){
article.a101921,article.a81164,article.a99512,article.a588 {display: none !important;}
}
@-moz-document domain("pcbeta.com"){
div[id="wp7_banner"],div[id="sitefocus"],div[style="padding:0 10px 10px;background:#d0dae4;"],div[style$="#d0dae4;"][class="wp"]{display:none !important}
ul[class="forum_top_sub"],ul[class="forum_top"],div[style*="padding:9px;width:980px;height:437px;"]{display:none !important}
}
@-moz-document domain("finance.sina.com.cn"){
.secondaryHeader {margin: 0px !important;}
}
@-moz-document domain("item.taobao.com"){
.content p font { font-size: 20px !important; }
}
@-moz-document domain("www.tianya.cn"){
.pagewrap {margin-top: 10px !important;}
}
@-moz-document domain("www.top81.cn"){
[class^="thread_"] li {margin-left: 30px !important;}
[class^="thread_"] li:first-child {margin-left: 0px !important;}
}
@-moz-document domain("www.u17.com"){
div[class="www_hd_middle_ct"],div[class="www_hd_middle_rt"],div[class="pd_b_13"],span[class="icon_clo"]{display:none!important;}
div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all,
div.ui-widget-overlay{
display:none!important;
}
}
@-moz-document domain("yingzheng.com"){
div[id^="portal_block_"][class="block move-span"],div[class="dxb_bc"],td[class="plc plm"]{display:none !important;}
}
@-moz-document domain("soku.com"){
div[class^="aa_"],div[id^="ab_"],[id*="Ad"],[class^="AB"]{ display: none !important }
.row_index_1{height:641px!important;}
}
@-moz-document domain("youku.com"){
div[class^="aa_"],div[id^="ab_"],[id*="Ad"],[class^="AB"]{ display: none !important }
.row_index_1{height:641px!important;}
}
